.prettierignore
public/
.gitignore
.husky/
templates/
.env.example

dist/
webDist/
distWeb/
distLambda/
goldstackLocal/
coverage/
node_modules/
.next/
.terraform/
*.tfstate
*.tfstate.backup
.pnp.js
*.json
.yarn/
.eslintignore
*.png
*.ico
DONT_DELETE_FOLDER
**/*.sql
!package.json